<head>
<style type="text/css" title="estilos personales">
body {background-color: rgb(11, 73, 9);}
.bloque1 {color: darksalmon; background-color: darkgoldenrod;}
h1 {color: blue;}
p {color: rgb(175, 9, 9);}
</style>
<head>